<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>First Route</title>
    <link rel="stylesheet" href="">
</head>
<body>
    <div id="app">
        <app></app>
    </div>
    
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script>
        let App = {
            template: `
                <div class="wrapper">
                    <router-view></router-view>
                </div>
            `,
            mounted() {
                console.log(this.$route.params)
            }
        }

        let User = {
            props: [
                'id'
            ],
            template: `
                <div>
                    User {{ id }}
                </div>
            `,
            mounted() {
                console.log(this.$route.params)
            }
        }

        let Post = {
            props: {
                topicId: {
                    type: Number
                },
                postId: {
                    type: Number
                }
            },
            template: `
                <div>
                    Post
                </div>
            `,
            mounted() {
                console.log(this.topicId, this.postId)
            }
        }

        let News = {
            props: {
                type: {
                    default: 'all'
                }
            },
            template: `
                <div>
                    News {{ type }}
                </div>
            `
        }

        let Home = {
            template: `
                <div>
                    Home
                </div>
            `
        }

        let router = new VueRouter({
            routes: [
                { 
                    path: '/',
                    name: 'home',
                    component: Home
                },
                { 
                    path: '/users/:id',
                    component: User,
                    props: true
                },
                { 
                    path: '/topics/:topicId/posts/:postId',
                    component: Post,
                    props: (route) => {
                        return {
                            topicId: parseInt(route.params.topicId),
                            postId: parseInt(route.params.postId)
                        }
                    }
                },
                { 
                    path: '/news',
                    component: News,
                    props: true
                },
                { 
                    path: '/news/:type',
                    component: News,
                    props: true
                }
            ]
        });

        let app = new Vue({
            el: '#app',
            router: router,
            components: {
                'app': App
            }
        });
    </script>
</body>
</html>