<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>First Route</title>
    <link rel="stylesheet" href="">
</head>
<body>
    <div id="app">
        <app></app>
    </div>
    
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.1/axios.min.js"></script>
    <script>
        let bus = new Vue()

        let Loader = {
            data() {
                return {
                    loading: false
                }
            },
            template: `
                <div v-if="loading">
                    Loading
                </div>
            `,
            mounted() {
                bus.$on('loading', (loadingOrNot) => {
                    this.loading = loadingOrNot
                })
            }
        }

        let Home = {
            template: `
                <div>
                    <p>Home</p>
                    <router-link :to="{ name: 'users.profile', params: { username: 'iman' } }">Navigate</router-link>
                </div>
            `
        }

        let User = {
            props: ['username'],
            data() {
                return {
                    user: null
                }
            },
            template: `
                <div class="user" v-if="user">
                    {{ user }}
                </div>  
            `,
            beforeRouteInter(to, from, next) {
                bus.$emit('loading', true)

                axios.get('user.json').then((response) => {
                    console.log(response)
                    bus.$emit('loading', false)
                    next((vm) => {
                        vm.setUser(response.data)
                    })
                }).catch((error) => {
                    console.log(error)
                })
            },
            methods: {
                setUser(user) {
                    this.user = user
                }
            }
            // mounted() {
            //     setTimeout(() => {
            //         axios.get('user.json').then((response) => {
            //             this.user = response.data
            //         }).catch((error) => {
            //             console.log(error)
            //         })
            //     }, 1000)
            // }
        }

        let App = {
            components: {
                'loader': Loader
            },
            template: `
                <div class="container">
                    <loader></loader>
                    <nav>
                        Some other page content
                    </nav>
                    <router-view></router-view>
                </div>
            `
        }

        let router = new VueRouter({
            routes: [
                { 
                    path: '/',
                    name: 'home',
                    component: Home
                },
                { 
                    path: '/users/:username',
                    name: 'users.profile',
                    component: User,
                    props: true
                 }
            ]
        });

        // router.beforeEach((to, from, next) => {
        //     next()
        // })

        let app = new Vue({
            el: '#app',
            router: router,
            components: {
                'app': App
            }
        });
    </script>
</body>
</html>