<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>First Route</title>
    <link rel="stylesheet" href="">
    <style>
        .main-nav .active {
            color: green;
            font-weight: 800;
        }

        .account-nav .active {
            color: tomato;
            font-weight: 800;
        }
    </style>
</head>
<body>
    <div id="app">
        <app></app>
    </div>
    
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script>
        let Home = {
            template: `
                <div>
                    <p>Home</p>
                    http://www.imansyaefulloh.com/{{ $router.resolve({ name: 'about' }).href }}
                </div>
            `
        }

        let Contact = {
            template: `
                <div>
                    Contact
                </div>
            `
        }

        let About = {
            template: `
                <div>
                    About
                </div>
            `
        }

        let Navigation = {
            template: `
                <ul class="main-nav">
                    <router-link :to="{ name: 'home' }" exact tag="li" active-class="home-active">
                        <a href="#">Home</a>
                    </router-link>
                    <router-link :to="{ name: 'about' }" tag="li" active-class="about-active">
                        <a href="#">About</a>
                    </router-link>
                </ul>
            `
        }

        let App = {
            components: {
                'navigation': Navigation
            },
            template: `
                <div class="wrapper">
                    <navigation></navigation>
                    <router-view></router-view>
                </div>
            `
        }

        let router = new VueRouter({
            linkActiveClass: 'active',
            routes: [
                { path: '/', name: 'home', component: Home },
                { path: '/about', name: 'about', component: About }
            ]
        });

        let app = new Vue({
            el: '#app',
            router: router,
            components: {
                'app': App
            }
        });
    </script>
</body>
</html>