<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Nested Route</title>
    <link rel="stylesheet" href="">
</head>
<body>
    <div id="app">
        <app></app>
    </div>
    
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script>
        let App = {
            template: `
                <div class="wrapper">
                    <router-view></router-view>
                </div>
            `
        }

        let Account = {
            template: `
                <div>
                    <h1>Account Area</h1>
                    <router-view></router-view>
                </div>
            `
        }

        let AccountHome = {
            template: `
                <div>
                    Account home area
                </div>
            `
        }

        let AccountProfile = {
            template: `
                <div>
                    Account profile area
                </div>
            `
        }

        let AccountPassword = {
            template: `
                <div>
                    Account password area
                </div>
            `
        }

        let Topic = {
            template: `
                <div>
                    <h1>Topic</h1>
                    <router-view></router-view>
                </div>
            `
        }

        let Posts = {
            props: ['topicId'],
            template: `
                <div>
                    Posts for topic {{ topicId }}
                </div>
            `
        }

        let Post = {
            props: ['postId'],
            template: `
                <div>
                    Post {{ postId }}
                    <router-view></router-view>
                </div>
            `
        }

        let PostReply = {
            props: ['postId'],
            template: `
                <div>
                    Reply to post {{ postId }}
                </div>
            `
        }

        let router = new VueRouter({
            routes: [
                { 
                    path: '/account',
                    component: Account,
                    children: [
                        { 
                            path: '',
                            component: AccountHome
                        },
                        { 
                            path: 'profile',
                            component: AccountProfile
                        },
                        { 
                            path: 'password',
                            component: AccountPassword
                        },
                    ]
                },
                {
                    path: '/topics/:topicId',
                    component: Topic,
                    children: [
                        {
                            path: 'posts',
                            component: Posts,
                            props: true
                        },
                        {
                            path: 'posts/:postId',
                            component: Post,
                            props: true,
                            children: [
                                {
                                    path: 'reply',
                                    component: PostReply,
                                    props: true
                                },
                            ]
                        }
                    ]
                }
            ]
        });

        let app = new Vue({
            el: '#app',
            router: router,
            components: {
                'app': App
            }
        });
    </script>
</body>
</html>