<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>First Route</title>
    <link rel="stylesheet" href="">
    <style>
        .main-nav .active {
            color: green;
            font-weight: 800;
        }

        .account-nav .active {
            color: tomato;
            font-weight: 800;
        }
    </style>
</head>
<body>
    <div id="app">
        <app></app>
    </div>
    
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script>
        let Courses = {
            template: `
                <div>
                    Courses
                </div>
            `
        }

        let Course = {
            props: ['id'],
            template: `
                <div>
                    Course {{ id }}
                </div>
            `
        }

        let Library = {
            template: `
                <div>
                    For redirect
                </div>
            `,
            mounted() {
                this.$router.replace({
                    name: 'courses'
                })
            }
        }

        let App = {
            template: `
                <div class="wrapper">
                    <router-view></router-view>
                </div>
            `
        }

        let router = new VueRouter({
            routes: [
                { 
                    path: '/courses',
                    name: 'courses',
                    component: Courses
                },
                { 
                    path: '/courses/:id',
                    name: 'courses.show',
                    component: Course,
                    props: true
                },
                { 
                    path: '/library/:id',
                    redirect(to) {
                        return {
                            name: 'courses',
                            params: {
                                id: to.params.id
                            }
                        }
                    }
                },
                // { 
                //     path: '/library',
                //     redirect: {
                //         name: '/courses'
                //     }
                // },
                // using the old way
                // { 
                //     path: '/library',
                //     name: 'library',
                //     component: Library
                // }
            ]
        });

        let app = new Vue({
            el: '#app',
            router: router,
            components: {
                'app': App
            }
        });
    </script>
</body>
</html>