<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>First Route</title>
    <link rel="stylesheet" href="">
</head>
<body>
    <div id="app">
        <app></app>
    </div>
    
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script>
        let App = {
            template: `
                <div class="wrapper">
                    <router-view></router-view>
                </div>
            `
        }

        let Home = {
            template: `
                <div>
                    Home    
                </div>
            `,
            mounted() {
                console.log(this.$route)
            }
        }

        let User = {
            template: `
                <div>
                    User #{{ $route.params.id }}
                </div>
            `,
            mounted() {
                console.log(this.$route)
            }
        }

        let router = new VueRouter({
            routes: [
                { 
                    path: '/',
                    name: 'home',
                    component: Home
                },
                { 
                    path: '/users/:id',
                    name: 'users.show',
                    component: User
                }
            ]
        });

        let app = new Vue({
            el: '#app',
            router: router,
            components: {
                'app': App
            }
        });
    </script>
</body>
</html>