<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>First Route</title>
    <link rel="stylesheet" href="">
</head>
<body>
    <div id="app">
        <app></app>
    </div>
    
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script>
        let Home = {
            template: `
                <div>
                    Home
                </div>
            `
        }

        let Account = {
            template: `
                <div>
                    Account
                </div>
            `
        }

        let UserProfile = {
            props: ['username'],
            template: `
                <div>
                    User {{ username }}
                </div>
            `
        }

        let Navigation = {
            template: `
                <ul>
                    <li>
                        <router-link :to="{ name: 'home' }">Home</router-link>
                    </li>
                    <li>
                        <router-link :to="{ name: 'account' }">Account</router-link>
                    </li>
                </ul>
            `
        }

        let App = {
            components: {
                'navigation': Navigation
            },
            template: `
                <div class="wrapper">
                    <navigation></navigation>
                    <router-view></router-view>
                </div>
            `
        }

        let router = new VueRouter({
            routes: [
                { 
                    path: '/',
                    name: 'home',
                    component: Home,
                    meta: {
                        title: 'Home'
                    }
                },
                { 
                    path: '/account',
                    name: 'account',
                    component: Account,
                    meta: {
                        title: 'Account'
                    }
                 },
                 { 
                    path: '/:username',
                    name: 'users.profile',
                    component: UserProfile,
                    props: true,
                    meta: (to, from) => {
                        return {
                            title: to.params.username
                        }
                    }
                },
            ]
        });

        router.beforeEach((to, from, next) => {
            let meta = {}

            if (typeof to.meta === 'function') {
                meta = to.meta(to, from)
            } else {
                meta = to.meta
            }

            let title = meta.title

            if (typeof title === 'undefined') {
                document.title = 'imansyaefulloh.com'    
            } else {
                document.title = `${title} | imansyaefulloh.com`
            }
            
            next()
        })

        let app = new Vue({
            el: '#app',
            router: router,
            components: {
                'app': App
            }
        });
    </script>
</body>
</html>